body {
    margin: 0;
    padding: 0;
    user-select: none;
}

button {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #000;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
    padding: 0;
}

input {
    background: none;
	outline: none;
	border: 0px;
}

input[type=search]{
    -moz-appearance: none;/* older firefox */
    -webkit-appearance: none; /* safari, chrome, edge and ie mobile */
    appearance: none; /* rest */
}

/*文本行数  */
.text1line {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
.text2line {
    display: -webkit-box;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:2;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: normal;
}
.text3line {
    display: -webkit-box;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:3;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: normal;
}
.text4line {
    display: -webkit-box;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:4;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: normal;
}
.text5line {
    display: -webkit-box;
    word-break: break-all;
    -webkit-box-orient: vertical;
    -webkit-line-clamp:5;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: normal;
}
